html {
  font-size: 19px;
}

.wrapper {
  margin: 5rem 2rem;
}

.wrapper h1 {
  margin-bottom: 0.65em;
}

.hero__description {
  padding: 1rem 0.7rem;
}

.wrapper h3,
.center {
  margin: 1rem auto;
  text-align: center;
}

.donate-container {
  padding: 1rem 2rem 2rem;
  margin: 2rem 0;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, palevioletred, rgb(55 55 235))
    1;
}

#donate-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 100%;
  display: none;
  animation: rolldown 3s 1;
}

.donate-method {
  display: flex;
  width: 100%;
  text-align: center;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, palevioletred, rgb(55 55 235))
    1;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
}

ol {
  text-align: left;
  margin-left: 2rem;
}

.donate-image {
  margin: 0 auto;
}

#policy-button {
  display: block;
  font-size: 1rem;
  background: linear-gradient(to bottom right, rgb(255 70 70), rgb(70 55 255))
    no-repeat;
  background-size: 0%;
  padding: 0.5rem;
  margin: 0.2rem auto;
  color: white;
  transition: all 1s ease;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, palevioletred, rgb(55 55 235))
    1;
  cursor: not-allowed;

  /* border-radius: 20px; */
}

#policy-button:hover {
  transform: scale(1.15);
}

@media only screen and (width <= 1000px) {
  #donate-grid {
    grid-template-columns: auto;
    padding: 0;
    grid-gap: 10px;
  }

  .wrapper {
    margin: 4rem 0.5rem;
  }
}
