@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap");

html,
body {
  background-color: black;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  line-height: 1.75rem;
  scroll-behavior: smooth;
  scrollbar-color: gray black;
  scrollbar-width: thin;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.Shree {
  width: 100%;
  margin: 7px 0;
  height: 1rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
